.box{
    margin-top: 40px;
    height:250px;
    width:800px !important;
    background-color: aliceblue;
}

.setheader{
    text-align:left;
    margin:10px 10px;
    background:#042159;
    color:#0869A6;
}
.setfont{
    color:#0869A6;
    font-weight:bold;
}
.sethead{
    background:#042159; 
    color:#0869A6;  
    border:#042159 !important;  
}
.setbody{
    color:#0869A6; 
    border:#042159 !important; 
    font-weight: bold; 
}
.setbutton{
    background:#042159;   
    color:#0869A6;
    border-color: #042159 !important;
    font-weight: bold;
    font-size: 15px;
}